/* General*/

img{
    height: 15px;
    width: 15px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}


/* menu lateral*/


#menuLateral{
    color: white;
    background-color: #2A2A2C;
    height: 100vh;
    width: 10vw;
    position: fixed;
    

    
}

#topAside{
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    padding-bottom: 10px;
    font-size: 28px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 3pt;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
#menuLateral a{
    color: white;
}

#navServicios{
    font-size: 18px;
}
#navServicios li{
    margin-top: 15px;
}
#navServicios ul{
    margin-left: -10px;
}
#sesiones{
    position: inherit;
    bottom: 0px;
    font-size: 16px;
    margin-left: -10px;
}
#sesiones li{
    margin-bottom: 10px;
}
#inicio{
    font-size: 22px;
    font-weight: bold;
}

#navServicios li:hover{
    font-size: 24px;
    font-weight: bold;
}

#logout{
    color: white;
    font-size: 16px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  
}
    




/*contenido de la pagina*/
#content{
    position: absolute;
    margin-left: 10vw;
    padding-left: 40px;
    box-sizing: border-box;
    width: 90vw;
}
#content a{
    color: unset;
}

/*Cabecera de ubicacion */
#cabecera{
    
    margin-top: 50px;
    
    margin-bottom: 40px;
    margin-right: 30px;
    font-size: 20px;
    background-color: #F8F8F8;
    padding-left:30px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/*Zona de servicios*/

#tipoServicios{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    
    margin-top: 20px;
}
#tipoServicios div{
    display: flex;
    flex-direction: column;
    margin-right: 500px;
}
#tipoServicios img{
    margin-top: 15px;
    height: 96px;
    width: 120px;
}
.titulo{
    font-size: 30px;
    font-weight: bold;
}

.seccion{
    margin-top: 40px;
}

/*Zona de presentacion*/


#presentacion img{
    width: 418px;
    height: 263px;  
    border-radius: 7px;
}
#presentacion p{
    width: 603px;
    margin-right: 100px;
    font-size: 20px;
    text-align: justify;
}
#presentacionContent{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

/*Zona de contacto*/

#contactoContent{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 20px;
    
    
}
#contactoContent div{
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 300px;
}
#contactoContent img{
    height: 52px;
    width: 52px;
}
#contactoContent a {
    font-weight: bold;
    
}

#contactoContent span {
    font-weight: bold;
}
#emailContact img{
    height: 72px;
    width: 72px;
    margin-top: -7px;
}




