{% extends 'base.html.twig' %}
{% block title %}Formulario{% endblock %}
{% block body %} 
    <div id="marcoPrincipal">
        <div id="titulo">
            <p>Welcome</p>
        </div>
        <div id="formularios">
            {% block formularios %}{% endblock %}
        </div>
        
       
    </div>
{% endblock %}
