{% extends "normalBase.html.twig" %}
{% block stylesheets %}<link href="{{ asset('css/landPageStyle.css') }}" type="text/css" rel="stylesheet" />{% endblock %}
{% block title %} Pago {% endblock %}
{% block cabecera %}Pago{% endblock %}
{% block contenido %}
    {% if (completado == true) %}
        <h1>Pago realizado</h1>
    {% else %}
        <h1>Completa los datos personales(Direccion o metodo de pago)</h1>
    {% endif %}
{% endblock %}

 