{% extends "normalBase.html.twig" %}
{% block stylesheets %}<link href="{{ asset('css/landPageStyle.css') }}" type="text/css" rel="stylesheet" />{% endblock %}
{% block title %} Carrito {% endblock %}
{% block cabecera %}Carrito{% endblock %}
{% block contenido %}
     <span>{{nombre}}</span>
{% endblock %}

 